---
import CalculatorStep from '@elements/Calculator/CalculatorStep.astro'
import CalculatorCheckboxes from '@elements/Calculator/CalculatorCheckboxes.astro'
import CalculatorInputs from '@elements/Calculator/CalculatorInputs.astro'
import Input from '@elements/Input.astro'
---

<CalculatorStep
  type={'content'}
  name="Требуются ли вам доп. услуги"
>
  <div class="calculator__additional-services">
    <CalculatorCheckboxes
      checkboxes={[
        {
          name: 'fence-installation',
          value: 'Установка',
          checked: true,
        },
        {
          name: 'fence-dismantling',
          value: 'Демонтаж',
        },
        {
          name: 'fence-delivery',
          value: 'Доставка',
        },
      ]}
    />

    <CalculatorInputs>
      <Input
        info="fence-mkad-distance"
        label="Доставка, км. от МКАД"
        name="fence-mkad-distance"
        placeholder="Укажите удаленность"
        required
        theme={'lightgrey'}
        reportValidityTextField
      />
    </CalculatorInputs>
  </div>
</CalculatorStep>
