---
export interface Props {
  class?: string
  type?: 'info' | 'content'
  name?: string
  empty?: boolean
  overflow?: boolean
}

const {
  class: className,
  type = 'info',
  overflow = true,
  empty,
  name,
} = Astro.props
---

<div
  class:list={[
    type === 'info' ? 'calculator__step-info' : 'calculator__step',
    className,
    'custom-scrollbar',
    { empty },
  ]}
  data-name={name}
  data-overflow={overflow}
>
  <slot />
</div>

<style is:global>
  .calculator__step-info,
  .calculator__step {
    &.unactive {
      display: none;
    }
  }

  .calculator__step {
    height: 100%;

    padding-right: 6rem;

    display: flex;
    flex-direction: column;

    .has-overflow & {
      overflow: hidden auto;
    }

    @media (min-width: 769px) {
      padding-left: var(--content-padding);
    }

    @media (max-width: 768px) {
      padding-right: 2rem;
    }
  }

  .calculator__step-info {
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden auto;
  }
</style>
