---
import Image from '@elements/Image.astro'

export interface Props {
  class?: string
}

const { class: className, ...rest } = Astro.props
---

<div
  {...rest}
  class:list={[className, 'calculator-color-info']}
>
  <Image
    class="calculator-color-info__image"
    lazy
    lazyBackground
    contain
  />

  <div
    class="calculator-color-info__description f-d-body-large-regular-16 f-m-footnote-regular-12"
    set:html={'Так будет выглядеть ваш забор'}
  />
</div>

<style is:global>
  .calculator-color-info {
    margin-bottom: var(--info-margin);
  }

  .calculator-color-info__image {
    width: 100%;
    height: 24rem;

    margin-bottom: 2rem;

    background-color: var(--color-image-background);
    border-radius: var(--border-radius);

    @media (max-width: 768px) {
      height: 18rem;
      margin-bottom: 1.5rem;
    }
  }

  .calculator-color-info__description {
    color: var(--color-grayscale-400);
  }
</style>
