---
import Breadcrumbs from '@blocks/Breadcrumbs.astro'
import Layout from '@layout/Layout.astro'
import Calculators from '@blocks/Calculators.astro'
import Section from '@blocks/Section.astro'
import Highlite from '@elements/Highlite.astro'
---

<Layout
  seo={{
    title: 'Частокол: Замер',
    description: 'Металлические заборы в Санкт-Петербурге',
    cover: '/images/seo/home.jpg',
  }}
  headerColor={'dark'}
  headerMobileColor={'dark'}
  headerBackgroundColor={'white'}
>
  <Breadcrumbs
    links={[
      { name: 'Главная', href: '/' },
      { name: 'Замер', href: '/consultation' },
    ]}
    whiteBackground
  />

  <Calculators />

  <Section
    whiteBackground
    paddingTop={'full'}
    paddingBottom={'full'}
    tag={'div'}
  >
    <Highlite
      title="Важно"
      description="Уважаемые пользователи сайта, обращаем ваше внимание на то, что все расчеты калькулятор являются приблизительными. Составить наиболее точную смету возможно только после выезда замерщика на ваш участок. На стоимость влияют результаты исследования грунта, а так же места расположения."
    />
  </Section>
</Layout>
