---
import CommonModal from '@elements/CommonModal.astro'
import ModalCloseButton from '@elements/ModalCloseButton.astro'
import ThankYou from '@elements/ThankYou.astro'

export const modal = '#form-answer'
---

<!-- 
  SINGLETON 

  После отправки форм нужно открывать эту модалку.
  document.querySelector("#form-answer")?.open()
-->
<CommonModal
  id="form-answer"
  class="form-answer"
>
  <div class="form-answer__content">
    <ModalCloseButton modal="form-answer" />
    <ThankYou />
  </div>
</CommonModal>

<style is:global>
  .form-answer__content {
    position: relative;

    padding: 8rem;
    border-radius: var(--border-radius);
    background-color: var(--color-grayscale-0);

    @media (max-width: 768px) {
      width: calc(100% - var(--screen-horisontal-padding) * 2);
      padding: 4rem;
      height: max-content;
    }
  }
</style>
