---
import { categoriesData } from '@dev-data/categoriesData'
import HeaderContact, {
  type Props as HeaderContactProps,
} from '@elements/HeaderContact.astro'
import Icon from '@elements/Icon.astro'
import LogoLink from '@elements/LogoLink.astro'
import Manager from '@elements/Manager.astro'
import MenuButton from '@elements/MenuButton.astro'
import MenuCatalog, {
  type Props as MenuCatalogProps,
} from '@elements/MenuCatalog.astro'
import HeaderSubmenu, {
  type Props as HeaderSubmenuProps,
} from '@elements/HeaderSubmenu.astro'
import LocationButton from '@elements/LocationButton.astro'

export const backgroundColor = 'lightblue'
export const imagePaddingTop = 'var(--header-full-height)'

export interface Props {
  class?: string
  submenus?: Array<Omit<HeaderSubmenuProps, 'class'>>
  contacts?: Array<Omit<HeaderContactProps, 'class'>>
  catalog?: MenuCatalogProps['categories']
}

const {
  class: className,
  submenus = [
    {
      name: 'О компании',
      modalName: 'menu-about',
      links: [
        {
          name: 'Блог',
          href: '/blog',
        },
        {
          name: 'Цены',
          href: '/prices',
        },
        {
          name: 'О компании',
          href: '/about',
        },
        {
          name: 'Реквизиты',
          href: '/details',
        },
      ],
    },
    {
      name: 'Для клиентов',
      modalName: 'menu-clients',
      links: [
        {
          name: 'Блог',
          href: '/blog',
        },
        {
          name: 'Цены',
          href: '/prices',
        },
        {
          name: 'О компании',
          href: '/about',
        },
        {
          name: 'Реквизиты',
          href: '/details',
        },
      ],
    },
    {
      name: 'Контакты',
      href: '/contacts',
      links: false,
    },
  ],
  contacts = [
    {
      value: 'Каширское шоссе, вл63, к1',
      additional: 'Посмотреть на карте',
      modal: 'map-modal',
    },
    {
      value: '+7 (499) 900-60-30',
      additional: 'c 10:00 до 19:00, ежедневно',
    },
  ],
  catalog = categoriesData,
  ...rest
} = Astro.props
---

<!-- SINGLETON -->
<header
  {...rest}
  class:list={[className, 'header']}
>
  <div class="header__mobile-top">
    <LogoLink class="header__logo" />

    <LocationButton class="header__location-button" />

    <MenuButton
      class="header__menu-button"
      target="menu"
      >Меню</MenuButton
    >
  </div>

  <e-popover
    class="header__menu custom-scrollbar"
    id="menu"
  >
    <div class="header__menu__first-sheet">
      <div class="header__top">
        <div class="header__submenus">
          {
            submenus.map((submenu) => {
              return (
                <HeaderSubmenu
                  class="header__submenu"
                  {...submenu}
                />
              )
            })
          }
        </div>
      </div>

      <div class="header__middle">
        <MenuButton
          class="header__catalog-button"
          target="menu-catalog"
        >
          <span class="header__catalog-button__name f-m-body-large-regular-16"
            >Каталог</span
          >
          <Icon
            class="header__catalog-button__icon"
            name={'tailless-arrow'}
          />
        </MenuButton>

        <div class="header__contacts">
          {
            contacts.map((contact) => {
              return (
                <HeaderContact
                  class="header__contact"
                  {...contact}
                />
              )
            })
          }
        </div>
        <Manager class="header__online" />
      </div>

      <MenuCatalog
        class="header__catalog"
        categories={catalog}
      />
    </div>
  </e-popover>
</header>

<style is:global>
  .header {
    --header-color: var(--color-grayscale-0);
    --header-submenu-color: var(--header-color);
    --location-button-color: var(--header-color);
    --header-background-ease: var(--ease-out-cubic);
    --header-background-color: transparent;
    --header-border-color: rgba(255, 255, 255, 0.35);

    position: fixed;
    top: 0;
    left: 0;

    z-index: var(--z-header);

    width: 100%;

    display: block;

    transition-property: transform;
    transition-duration: var(--duration-menu);

    [data-header-background-color='white'] & {
      --header-background-color: var(--color-grayscale-0);
    }

    @media (min-width: 769px) {
      [data-header-color='dark'] & {
        --header-color: var(--color-font);
        --header-border-color: var(--color-grayscale-300);
      }
    }

    @media (max-width: 768px) {
      [data-header-mobile-color='dark'] & {
        --header-color: var(--color-font);
        --header-border-color: var(--color-grayscale-300);
      }
    }

    .menu-catalog-opened &,
    .menu-catalog-closing &,
    .menu-opened &,
    .menu-closing &,
    .page-scrolled & {
      --header-background-color: var(--color-grayscale-0);
      --header-color: var(--color-font);
      --header-border-color: var(--color-grayscale-300);
    }

    @media (min-width: 769px) {
      .menu-catalog-opened &,
      .menu-catalog-closing &,
      .menu-opened &,
      .menu-closing &,
      .page-scrolled & {
        transform: translateY(calc(var(--header-top-height) * -1));
      }
    }

    @media (max-width: 768px) {
      --header-submenu-color: var(--color-font);
    }
  }

  .header__top {
    @media (min-width: 769px) {
      position: relative;
      z-index: 2;

      height: var(--header-top-height);
      padding: 0 var(--screen-horisontal-padding);

      display: flex;
      align-items: center;
      justify-content: space-between;

      border-bottom: 0.1rem solid var(--header-border-color);

      transition-property: background-color;
      transition-duration: var(--duration-menu);
      transition-timing-function: var(--header-background-ease);

      will-change: background-color;

      background-color: var(--header-background-color);
    }

    @media (max-width: 768px) {
      display: contents;
    }
  }

  .header__submenus {
    display: flex;
    gap: 4rem;

    @media (max-width: 768px) {
      display: contents;
    }
  }

  .header__submenu {
    @media (max-width: 768px) {
      &:last-of-type {
        margin-bottom: 5.5rem;
      }
    }
  }

  .header__middle {
    @media (min-width: 769px) {
      display: flex;
      align-items: center;

      justify-content: space-between;
      height: var(--header-height);

      padding: 0 var(--screen-horisontal-padding);

      border-bottom: 0.1rem solid var(--header-border-color);

      transition-property: background-color;
      transition-duration: var(--duration-menu);
      transition-timing-function: var(--header-background-ease);

      will-change: background-color;

      background-color: var(--header-background-color);
    }

    @media (max-width: 768px) {
      display: contents;
    }
  }

  .header__mobile-top {
    @media (min-width: 769px) {
      display: contents;
    }

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem var(--screen-horisontal-padding);

      transition-property: background-color;
      transition-duration: var(--duration-menu);
      transition-timing-function: var(--header-background-ease);

      will-change: background-color;

      background-color: var(--header-background-color);
      border-bottom: 0.1rem solid var(--header-border-color);
    }
  }

  .header__logo {
    @media (min-width: 769px) {
      position: absolute;
      left: var(--screen-horisontal-padding);
      top: calc(var(--header-top-height) + var(--header-height) / 2);
      transform: translateY(-50%);
    }

    .menu-catalog-opened &,
    .menu-catalog-closing &,
    .menu-opened &,
    .menu-closing &,
    .page-scrolled & {
      --logo-color: var(--color-primary-100);
    }

    @media (min-width: 769px) {
      [data-header-color='dark'] & {
        --logo-color: var(--color-primary-100);
      }
    }

    @media (max-width: 768px) {
      [data-header-mobile-color='dark'] & {
        --logo-color: var(--color-primary-100);
      }
    }
  }

  .header__location-button {
    @media (min-width: 769px) {
      position: absolute;
      right: var(--screen-horisontal-padding);
      top: calc(var(--header-top-height) / 2);
      z-index: 3;
      transform: translateY(-50%);
    }

    @media (max-width: 768px) {
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  .header__menu-button {
    @media (min-width: 769px) {
      display: none;
    }

    @media (max-width: 768px) {
      border: 0.1rem solid transparent;

      .page-scrolled & {
        border-color: var(--color-primary-100);
      }
    }
  }

  .header__catalog-button {
    @media (min-width: 769px) {
      margin-left: 34.7rem;

      .page-scrolled &,
      [data-header-color='dark'] & {
        --color: var(--color-grayscale-0);
        background-color: var(--color-primary-100);
      }
    }

    @media (max-width: 768px) {
      order: -1;

      padding: unset;
      height: unset;
      display: inline-flex;
      align-items: center;
      gap: unset;
      border-radius: unset;
      background-color: unset;
      transition: unset;

      width: 100%;

      .menu-button__name {
        width: 100%;
      }

      .menu-button__name__opened {
        display: none;
      }

      .menu-button__name__closed {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .menu-button__icon {
        display: none;
      }

      &.opened {
        background-color: unset;

        .menu-button__name {
          color: var(--color-font);
        }
      }
    }
  }

  .header__catalog-button__name {
  }

  .header__catalog-button__icon {
    @media (min-width: 769px) {
      display: none;
    }

    @media (max-width: 768px) {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .header {
    @media (max-width: 768px) {
      .header-submenu__name,
      .header__catalog-button {
        padding: 1.5rem var(--screen-horisontal-padding);

        border-bottom: 0.1rem solid var(--color-grayscale-300);
      }
    }
  }

  .header__menu {
    --group: menu;

    @media (min-width: 769px) {
      display: contents;
    }

    @media (max-width: 768px) {
      position: absolute;
      top: calc(100% - 0.5px);
      left: 0;

      display: none;

      width: 100%;
      height: calc(var(--viewport-height) - var(--header-height));

      padding-bottom: 2rem;

      background-color: var(--color-grayscale-0);

      transition: clip-path var(--duration-menu);
      transition-timing-function: var(--ease-out-circ);

      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      overflow: hidden auto;

      &.triggered {
        display: block;
      }

      &.opened {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }

  .header__menu__first-sheet {
    @media (min-width: 769px) {
      display: contents;
    }

    @media (max-width: 768px) {
      position: relative;

      display: flex;
      flex-direction: column;

      transition-property: transform;
      transition-duration: var(--duration-menu);
      transition-timing-function: ease;

      .menu-catalog-opened &,
      .menu-submnenu-opened & {
        transform: translateX(-100%);
      }
    }
  }

  .header__contacts {
    @media (min-width: 769px) {
      display: flex;
      gap: 8.8rem;
      margin-left: auto;
      margin-right: 11.3rem;

      transition-property: color;
      transition-duration: var(--duration-menu);
      transition-timing-function: ease;

      color: var(--header-color);
    }

    @media (max-width: 768px) {
      padding: 0 var(--screen-horisontal-padding);

      display: grid;
      grid-auto-rows: max-content;
      gap: 4.5rem;

      margin-bottom: 5.5rem;
    }
  }

  .header__contact {
  }

  .header__online {
    @media (min-width: 769px) {
      transition-property: color;
      transition-duration: var(--duration-menu);
      color: var(--header-color);
    }

    @media (max-width: 768px) {
      padding: 0 var(--screen-horisontal-padding);
    }
  }

  .header__bottom {
  }

  .header__catalog {
    position: absolute;
    left: 0;
    z-index: 1;

    width: 100%;

    @media (min-width: 769px) {
      top: 100%;
    }

    @media (max-width: 768px) {
      top: 0;
      left: 100%;
    }
  }
</style>
