---
export interface Props {
  class?: string
}

const { class: className, ...rest } = Astro.props
---

<div
  {...rest}
  class:list={[className, 'calculator-inputs']}
>
  <slot />
</div>

<style is:global>
  .calculator-inputs {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    @media (max-width: 768px) {
      grid-template-columns: 100%;
      gap: 3rem;
    }
  }
</style>
