---
import type { ImageDataProps } from './Image.astro'
import Image from './Image.astro'
import LinkButton from './LinkButton.astro'

export interface Props {
  class?: string | undefined
  href?: string | undefined
  name?: string | undefined
  image?: ImageDataProps | undefined
  button?: boolean | undefined
  tag?: string | undefined
}

const {
  class: className,
  href,
  name = 'Заборы',
  image = { src: '/images/catalog-item.png' },
  button = true,
  tag = 'a',
  ...rest
} = Astro.props

const Tag = tag as any
---

<Tag
  {...rest}
  {href}
  class:list={[className, 'catalog-card']}
>
  <div class="catalog-card__image-box">
    <Image
      class="catalog-card__image"
      {...image}
    />
    <slot name="image-box" />
  </div>
  <span class="catalog-card__content">
    <span
      class="catalog-card__name f-d-title-medium-20 f-m-body-large-medium-16"
      set:html={name}
    />
    {
      button && (
        <LinkButton
          class="catalog-card__link only-arrow"
          tag="div"
        />
      )
    }
  </span>
</Tag>

<style is:global>
  .catalog-card {
    --link-button-size: 3.5rem;

    display: block;

    width: var(--catalog-card-width, 33.7rem);
    border-radius: 2rem;
    border: 0.1rem solid var(--color-grayscale-300);

    @media (max-width: 768px) {
      --link-button-size: 3rem;
      width: var(--catalog-card-width, 20rem);
      border-radius: 1.5rem;
    }
  }

  .catalog-card__image-box {
    position: relative;

    width: 100%;
    height: var(--catalog-card-image-height, 33.5rem);

    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--color-image-background);

    @media (max-width: 768px) {
      height: var(--catalog-card-image-height, 19.8rem);
      border-radius: 1.5rem;
    }
  }

  .catalog-card__image {
    width: 100%;
    height: 100%;
  }

  .catalog-card__link {
    margin: -0.5rem 0;

    @media (max-width: 768px) {
    }
  }

  .catalog-card__content {
    padding: 2.1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      padding: 1.5rem;
    }
  }
</style>
