---
import type { ImageDataProps } from './Image.astro'
import Image from './Image.astro'
import Button from './Button.astro'

export interface Props {
  class?: string
  href?: string
  name?: string
  price?: string
  image?: ImageDataProps
}

const {
  class: className,
  href = '/',
  name = 'Заборы',
  price = 'от 550 руб. за м2',
  image = { src: '/images/catalog-item.png' },
  ...rest
} = Astro.props
---

<a
  {...rest}
  href={href}
  class:list={[className, 'catalog-preview-card']}
>
  <Image
    class="catalog-preview-card__image"
    {...image}
  />
  <span class="catalog-preview-card__content">
    <span class="catalog-preview-card__info">
      <span
        class="catalog-preview-card__name f-d-title-medium-20 f-m-body-large-medium-16"
        set:html={name}
      />
      <span
        class="catalog-preview-card__price f-d-body-large-medium-16 f-m-footnote-medium-12"
        set:html={price}
      />
    </span>
    <Button
      class="catalog-preview-card__link mobile-only-arrow"
      name={'Подробнее'}
      tag="span"
    />
  </span>
</a>

<style is:global>
  .catalog-preview-card {
    width: 46.7rem;
    border-radius: var(--border-radius);

    @media (max-width: 768px) {
      width: 26rem;
    }
  }

  .catalog-preview-card__image {
    width: 100%;
    height: 46.4rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color-image-background);

    @media (max-width: 768px) {
      height: 25.6rem;
    }
  }

  .catalog-preview-card__content {
    padding: 2rem;
    padding-top: calc(2rem + var(--border-radius));
    margin-top: calc(var(--border-radius) * -1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 0.1rem solid var(--color-grayscale-300);
    border-left: 0.1rem solid var(--color-grayscale-300);
    border-right: 0.1rem solid var(--color-grayscale-300);

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    @media (max-width: 768px) {
      padding: 1.5rem;
      padding-top: calc(1.5rem + var(--border-radius));
    }
  }

  .catalog-preview-card__info {
  }

  .catalog-preview-card__name {
    display: block;
  }

  .catalog-preview-card__price {
    color: var(--color-primary-100);
  }

  .catalog-preview-card__link {
  }
</style>
