---
import type { SpriteIconName } from '@utils/SpriteIconName'
import Icon from './Icon.astro'

export interface Props {
  class?: string
  tag?: string
  icon?: SpriteIconName
}

const { class: className, tag = 'button', icon = 'play', ...rest } = Astro.props

const Tag = tag
---

<Tag
  {...rest}
  class:list={[className, 'circle-button']}
>
  <span class="circle-button__icon-box">
    <Icon
      name={icon}
      class="circle-button__icon"
    />
  </span>
</Tag>

<style is:global>
  .circle-button {
    width: var(--circle-button-size, 7rem);
    height: var(--circle-button-size, 7rem);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(48, 124, 50, 0.4);

    border-radius: 50%;

    transition-property: background-color;
    transition-duration: var(--duration-button);

    @media (hover: hover) {
      &:hover {
        .circle-button__icon-box {
          background-color: var(--color-grayscale-0);

          &::before {
            background-color: var(--color-primary-100);
          }
        }

        .circle-button__icon {
          fill: var(--color-grayscale-0);
        }
      }
    }

    @media (max-width: 768px) {
      width: var(--circle-button-size, 5rem);
      height: var(--circle-button-size, 5rem);
    }
  }

  .circle-button__icon-box {
    position: relative;
    z-index: 1;

    display: block;

    width: 79%;
    height: 79%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--color-primary-100);
    border: 0.3rem solid var(--color-primary-100);

    transition-property: background-color, border-color;
    transition-duration: var(--duration-button);

    &::before {
      content: '';

      position: absolute;
      z-index: -1;

      width: 70%;
      height: 70%;

      border-radius: 50%;

      background-color: var(--color-grayscale-0);

      transition-property: background-color;
      transition-duration: var(--duration-button);
    }
  }

  .circle-button__icon {
    width: 100%;
    height: 100%;

    fill: var(--color-primary-100);

    transition-property: fill;
    transition-duration: var(--duration-button);
  }
</style>
