---
import type { ImageDataProps } from './Image.astro'
import Image from './Image.astro'

export interface Props {
  class?: string
  image?: ImageDataProps
  name?: string
  position?: string
  small?: boolean
}

const {
  class: className,
  image = { src: '/images/company-members/director.jpg' },
  name = 'Вероника Иванова',
  position = 'Директора компании «Частокол»',
  small,
  ...rest
} = Astro.props
---

<div
  {...rest}
  class:list={[className, 'company-member']}
  data-small={small}
>
  <Image
    {...image}
    class="company-member__image"
    lazy
    lazyBackground
    cover
  />

  <div class="company-member__content">
    <div
      class:list={[
        'company-member__name',
        { 'f-d-title-medium-24 f-m-body-large-medium-16': !small },
        { 'f-d-body-large-medium-16': small },
      ]}
      set:html={name}
    />
    <div
      class:list={[
        'company-member__position',
        { 'f-d-body-large-medium-16 f-m-footnote-medium-12': !small },
        { 'f-d-body-large-regular-16 f-m-body-basic-regular-14': small },
      ]}
      set:html={position}
    />
  </div>
</div>

<style is:global>
  .company-member {
    display: flex;
    align-items: center;
    gap: 4rem;

    &[data-small='true'] {
      gap: 3rem;
    }

    @media (max-width: 768px) {
      gap: 1.5rem;

      &[data-small='true'] {
        gap: 2rem;
      }
    }
  }

  .company-member__image {
    width: 9rem;
    height: 9rem;

    border-radius: 50%;
    border: 0.3rem solid var(--color-primary-100);

    overflow: hidden;

    .company-member[data-small='true'] & {
      width: 6rem;
      height: 6rem;
      border: unset;
    }

    @media (max-width: 768px) {
      width: 7rem;
      height: 7rem;

      .company-member[data-small='true'] & {
        width: 6rem;
        height: 6rem;
      }
    }
  }

  .company-member__content {
  }

  .company-member__name {
    margin-bottom: 0.8rem;
    color: var(--color-primary-100);

    .company-member[data-small='true'] & {
      margin-bottom: 0.2rem;
    }

    @media (max-width: 768px) {
      .company-member[data-small='true'] & {
        margin-bottom: 0.5rem;
      }
    }
  }

  .company-member__position {
  }
</style>
