---
export interface Props {
  class?: string
  text?: string
}

const {
  class: className,
  text = 'Данная стоимость является приблизительной, для получения подробного расчета вы можете перейти в <a href="/" target="_blank">подробный калькулятор</a>',
  ...rest
} = Astro.props
---

<span
  {...rest}
  class:list={[
    className,
    'explanation f-d-body-large-regular-16 f-m-footnote-regular-10',
  ]}
  set:html={text}
/>

<style is:global>
  .explanation {
    display: block;

    color: var(--color-grayscale-400);

    a {
      color: var(--color-primary-100);
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-underline-offset: 0.2em;
    }
  }
</style>
