---
import CheckboxButton from './CheckboxButton.astro'

export interface Props {
  class?: string
}

const { class: className, ...rest } = Astro.props
---

<label
  {...rest}
  class:list={[
    className,
    'form-agreement f-d-body-basic-regular-14 f-m-footnote-regular-10',
  ]}
>
  <CheckboxButton
    name="agreement"
    required
    class="form-agreement__input"
  />
  <span class="form-agreement__text"
    >Я согласен с <a href="/policy">Политикой обработки персональных данных</a
    ></span
  >
</label>

<style is:global>
  .form-agreement {
    display: inline-flex;
    align-items: center;
  }

  .form-agreement__input {
    display: inline-block;

    --checkbox-size: 1.8rem;

    margin-right: 1.2rem;

    .checkbox__icon-box {
      border-color: var(--color-grayscale-400);
    }

    .checkbox__input:checked ~ .checkbox__content .checkbox__icon-box {
      border-color: var(--color-primary-100);
    }

    @media (max-width: 768px) {
      --checkbox-size: 1.35rem;

      margin-right: 1rem;
    }
  }

  .form-agreement__text {
    color: var(--color-grayscale-400);

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;

      @media (hover: hover) {
        transition-property: color;
        transition-duration: var(--duration-button);
        transition-timing-function: ease;

        &:hover {
          color: var(--color-grayscale-500);
        }
      }
    }
  }
</style>
