---
import type { SpriteIconName } from '@utils/SpriteIconName'
import Icon from './Icon.astro'

export interface Props {
  class?: string
  icon?: SpriteIconName
}

const { class: className, icon = 'inst', ...rest } = Astro.props
---

<span
  {...rest}
  class:list={[className, 'icon-box']}
>
  <Icon
    name={icon}
    class="icon-box__icon"
  />
</span>

<style is:global>
  .icon-box {
    width: var(--icon-box-size, 3.8rem);
    height: var(--icon-box-size, 3.8rem);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.1rem solid
      var(--icon-box-border-color, var(--color-grayscale-600));
    background-color: var(--icon-box-background-color, transparent);

    transition-property: color, background-color;
    transition-duration: var(--icon-box-duration, var(--duration-button));

    border-radius: 0.7rem;

    @media (max-width: 768px) {
      width: var(--icon-box-size, 4rem);
      height: var(--icon-box-size, 4rem);
    }
  }

  .icon-box__icon {
    width: var(--icon-size, 1.8rem);
    height: var(--icon-size, 1.8rem);

    fill: var(--icon-box-color, var(--color-grayscale-700));

    transition-property: fill;
    transition-duration: var(--icon-box-duration, var(--duration-button));
    transform: rotate(var(--icon-box-rotation, 0deg));

    @media (max-width: 768px) {
      width: var(--icon-size, 1.895rem);
      height: var(--icon-size, 1.895rem);
    }
  }
</style>
