---
import ArrowHint from './ArrowHint.astro'
import Icon from './Icon.astro'

export const center = true

export interface Props {
  class?: string
  text?: string
}

const {
  class: className,
  text = 'Данная стоимость является приблизительной, для получения подробного расчета вы можете перейти в <a href="/" target="_blank">подробный калькулятор</a>',
  ...rest
} = Astro.props
---

<div
  {...rest}
  class:list={[className, 'info']}
>
  <Icon
    name={'info'}
    class="info__icon"
  />

  <ArrowHint
    class="info__explanation"
    text={text}
    arrowPosition={'top'}
    font="f-d-body-large-regular-16 f-m-footnote-regular-10"
  />
</div>

<style is:global>
  .info {
    --icon-size: var(--info-icon-size, 2.4rem);

    position: relative;

    display: inline-block;

    @media (max-width: 768px) {
      --icon-size: var(--info-icon-size, 1.3rem);
    }
  }

  .info__icon {
    width: var(--icon-size);
    height: var(--icon-size);

    fill: var(--color-primary-100);
  }

  .info__explanation {
    position: absolute;
    top: calc(100% + var(--icon-size) / 2 + var(--pointer-size) / 2);
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;

    transition-property: opacity;
    transition-duration: var(--duration-button);

    .info:hover & {
      opacity: 1;
      pointer-events: auto;
    }
  }
</style>
