---
import Icon from './Icon.astro'

export interface Props {
  class?: string
  href?: string
  name?: string | false
  tag?: string
}

const {
  class: className,
  href,
  name = 'Кнопка',
  tag = 'button',
  ...rest
} = Astro.props

const Tag = href ? 'a' : tag
---

<Tag
  {...rest}
  class:list={['link-button', className]}
>
  {
    name && (
      <span
        class="link-button__name f-d-body-large-medium-16 f-d-body-basic-medium-14"
        set:html={name}
      />
    )
  }

  <span class="link-button__icon-box">
    <Icon
      name={'tail-arrow'}
      class="link-button__icon"
    />
  </span>
</Tag>

<style is:global>
  .link-button {
    height: var(--link-button-height, 4.5rem);
    padding: var(--link-button-padding, 0rem 0.5rem 0rem 2rem);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--link-button-border-radius, 3rem);

    background-color: var(--color-primary-100);

    @media (max-width: 768px) {
      height: var(--link-button-height, 4rem);
      padding: var(--link-button-padding, 0rem 0.5rem 0rem 1.5rem);
    }
  }

  .link-button__name {
    display: var(--name-display, block);
    color: var(--color-grayscale-0);
    margin-right: 1.5rem;

    @media (max-width: 768px) {
      margin-right: 1rem;
    }
  }

  .link-button__icon-box {
    width: var(--link-button-icon-box-size, 3.5rem);
    height: var(--link-button-icon-box-size, 3.5rem);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(
      --link-button-icon-box-color,
      var(--color-grayscale-0)
    );

    @media (max-width: 768px) {
      width: var(--link-button-icon-box-size, 3rem);
      height: var(--link-button-icon-box-size, 3rem);
    }
  }

  .link-button__icon {
    width: var(--link-button-icon-size, 2.1rem);
    height: var(--link-button-icon-size, 2.1rem);

    transform: rotate(-45deg);

    fill: var(--link-button-icon-color, var(--color-primary-100));

    @media (max-width: 768px) {
      width: var(--link-button-icon-size, 2rem);
      height: var(--link-button-icon-size, 2rem);
    }
  }

  .link-button.only-arrow {
    --name-display: none;
    --link-button-padding: 0rem;
    --link-button-height: var(--link-button-size, 4rem);
    --link-button-icon-box-size: var(--link-button-size, 4rem);
    --link-button-border-radius: 50%;
    --link-button-icon-box-color: transparent;
    --link-button-icon-color: var(--color-grayscale-0);
  }

  .link-button.mobile-only-arrow {
    @media (max-width: 768px) {
      --name-display: none;
      --link-button-padding: 0rem;
      --link-button-height: var(--link-button-size, 4rem);
      --link-button-icon-box-size: var(--link-button-size, 4rem);
      --link-button-border-radius: 50%;
      --link-button-icon-box-color: transparent;
      --link-button-icon-color: var(--color-grayscale-0);
    }
  }
</style>
