---
import type { ImageDataProps } from './Image.astro'
import LinkImage from './LinkImage.astro'

export interface Props {
  class?: string
  href?: string
  name?: string
  image?: ImageDataProps
}

const {
  class: className,
  href,
  name = 'Из профнастила',
  image = { src: '/images/small-preview.jpg' },
  ...rest
} = Astro.props
---

<a
  {...rest}
  class:list={[className, 'menu-link']}
  {href}
>
  <span
    class="f-d-body-basic-regular-14 f-m-body-large-regular-16 menu-link__name"
    set:html={name}
  />
  <LinkImage
    image={image}
    class="menu-link__image"
  />
</a>

<style is:global>
  .menu-link {
    position: relative;
    display: inline-flex;
    align-items: center;

    @media (max-width: 768px) {
      padding: 1.5rem var(--screen-horisontal-padding);
      border-bottom: 1px solid var(--color-grayscale-300);
    }
  }

  .menu-link__name {
    @media (min-width: 769px) {
      color: var(--color-grayscale-400);
    }
  }

  .menu-link__image {
    position: absolute;
    right: calc(100% + 0.934rem);
    z-index: 1;

    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--duration-button);
    transition-timing-function: ease;
    pointer-events: none;

    @media (hover: hover) {
      .menu-link:hover & {
        opacity: 1;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
</style>
