---
import MenuColumn, { type Props as MenuColumnProps } from './MenuColumn.astro'
import Search from './Search.astro'

export const modal = '#menu-category'

export interface Props {
  class?: string
  columns?: Array<MenuColumnProps>
  id?: string
}

const {
  class: className,
  id = 'menu-category',
  columns = [
    {
      title: 'Металлические заборы',
      links: [
        {
          href: '/',
          name: 'Из профнастила',
          image: { src: '/images/small-preview.jpg' },
        },
        {
          href: '/',
          name: 'Из евроштакетника',
          image: { src: '/images/small-preview.jpg' },
        },
        {
          href: '/',
          name: 'Из сетки рабица',
          image: { src: '/images/small-preview.jpg' },
        },
        {
          href: '/',
          name: 'Из профильной трубы',
          image: { src: '/images/small-preview.jpg' },
        },
      ],
    },
    {
      title: 'Деревянные заборы',
      links: [
        {
          href: '/',
          name: 'Горизонтальные',
          image: { src: '/images/small-preview.jpg' },
        },
        {
          href: '/',
          name: 'Шахматка',
          image: { src: '/images/small-preview.jpg' },
        },
        {
          href: '/',
          name: 'Из штакетника',
          image: { src: '/images/small-preview.jpg' },
        },
      ],
    },
    {
      title: 'Заборы для дачи',
      links: [
        {
          href: '/',
          name: 'Из профнастила',
          image: { src: '/images/small-preview.jpg' },
        },
        {
          href: '/',
          name: 'Из евроштакетника',
          image: { src: '/images/small-preview.jpg' },
        },
      ],
    },
    {
      title: 'Заборы из пластика',
      links: false,
    },
    {
      title: 'Кованые заборы',
      links: [
        {
          href: '/',
          name: 'Из сетки рабица',
          image: { src: '/images/small-preview.jpg' },
        },
        {
          href: '/',
          name: 'Из профильной трубы',
          image: { src: '/images/small-preview.jpg' },
        },
      ],
    },
  ],
  ...rest
} = Astro.props
---

<e-popover
  {...rest}
  class:list={[className, 'menu-category']}
  {id}
>
  <div class="menu-category__columns">
    {
      columns.map((column) => {
        return (
          <MenuColumn
            {...column}
            class="menu-category__column"
          />
        )
      })
    }
  </div>

  <Search class="menu-category__search" />
</e-popover>

<style is:global>
  .menu-category {
    --history: true;
    --escape: true;

    transition: opacity var(--duration-button);
  }

  .menu-category__columns {
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 0;
  }

  .menu-category__column {
    width: 30rem;
    padding: 0 1rem;
  }

  .menu-category__search {
  }
</style>
