---
import type { ImageDataProps } from './Image.astro'
import Image from './Image.astro'
import LinkButton from './LinkButton.astro'

export interface Props {
  class?: string
  href?: string
  name?: string
  image?: ImageDataProps
}

const {
  class: className,
  href = '/',
  name = 'Заборы',
  image = { src: '/images/catalog-item.png' },
  ...rest
} = Astro.props
---

<a
  {...rest}
  {href}
  class:list={[className, 'related-services-card']}
>
  <Image
    class="related-services-card__image"
    {...image}
  />
  <span class="related-services-card__content">
    <span
      class="related-services-card__name f-d-title-medium-20 f-m-body-large-medium-16"
      set:html={name}
    />
    <LinkButton
      class="related-services-card__link only-arrow"
      tag="div"
    />
  </span>
</a>

<style is:global>
  .related-services-card {
    --link-button-size: 3.5rem;

    display: block;

    width: 33.7rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--color-grayscale-300);

    @media (max-width: 768px) {
      --link-button-size: 3.5rem;
      width: 20rem;
      border-radius: 1.5rem;
    }
  }

  .related-services-card__image {
    width: 100%;
    height: 33.7rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--color-image-background);

    @media (max-width: 768px) {
      height: 20rem;
      border-radius: 1.5rem;
    }
  }

  .related-services-card__content {
    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
</style>
