---
export interface Props {
  class?: string
  category?: string
  title?: string
  description?: string
  href?: string
}

const {
  class: className,
  category = 'Часто задаваемые вопросы',
  title = 'Готовы к широкомасштабной деятельности',
  description = 'Для наших сотрудников он стал не только руководителем, но и духовным наставником, способным настроить на продуктивную деятельность вне зависимости от погодных условий. Егор крайне ответственно подходит к вопросам формирования рабочего графика. Он планирует...',
  href = '/',
  ...rest
} = Astro.props
---

<a
  {...rest}
  class:list={[className, 'search-match']}
  href={href}
>
  <span class="search-match__category">
    <span
      class="f-d-body-basic-regular-14 f-m-footnote-regular-12 search-match__category__title"
      >Раздел</span
    >
    <span
      class="f-d-body-basic-medium-14 f-m-footnote-medium-12 search-match__category__name"
      set:html={category}
    />
  </span>

  <span class="search-match__content">
    <span
      class="f-d-body-basic-medium-14 search-match__title"
      set:html={title}
    />
    <span
      class="f-d-body-basic-regular-14 search-match__description"
      set:html={description}
    />
  </span>
</a>

<style is:global>
  .search-match {
    display: block;

    padding: 3rem;

    @media (hover: hover) {
      transition-property: opacity;
      transition-duration: var(--duration-button);

      &:hover {
        opacity: 0.5;
      }
    }

    @media (min-width: 769px) {
      display: flex;
    }

    @media (max-width: 768px) {
      padding: 2rem;
    }
  }

  .search-match__category {
    flex-shrink: 0;

    @media (min-width: 769px) {
      width: 44rem;
    }

    @media (max-width: 768px) {
      display: flex;
      gap: 1rem;

      margin-bottom: 4rem;
    }
  }

  .search-match__category__title {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-grayscale-400);
  }

  .search-match__category__name {
    color: var(--color-primary-100);
  }

  .search-match__content {
  }

  .search-match__title {
    display: block;
    margin-bottom: 1.5rem;

    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  .search-match__description {
  }
</style>
