---
export interface Props {
  class?: string
  tag?: string
}

const { class: className, tag = 'div', ...rest } = Astro.props

const Tag = tag
---

<Tag
  {...rest}
  class:list={[className, 'two-sides']}
>
  <div class="two-sides__left"><slot name="left" /></div>
  <div class="two-sides__right"><slot name="right" /></div>
</Tag>

<style is:global>
  .two-sides {
    position: relative;

    display: flex;
    gap: 5rem;
    align-items: stretch;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .two-sides__left,
  .two-sides__right {
    position: relative;
    /* flex-shrink: 0; */

    width: 72.5rem;
    max-height: 100%;

    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .two-sides__left {
    height: var(--left-height, unset);
    padding: var(--left-padding, 5rem);

    background-color: var(
      --left-background,
      var(--background, var(--color-grayscale-0))
    );

    @media (max-width: 768px) {
      width: 100%;
      padding: var(--left-padding, 2rem);
    }
  }

  .two-sides__cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  .two-sides__right {
    height: var(--right-height, unset);
    padding: var(--right-padding, 5rem);

    background-color: var(
      --right-background,
      var(--background, var(--color-grayscale-0))
    );

    @media (max-width: 768px) {
      width: 100%;
      padding: var(--right-padding, 2rem);
    }
  }
</style>
