---
export interface Props {
  class?: string
}

const { class: className, ...rest } = Astro.props
---

<div
  {...rest}
  class:list={[className, 'two-sides']}
>
  <div class="two-sides__left"><slot name="left-side" /></div>
  <div class="two-sides__right"><slot name="right-side" /></div>
</div>

<style is:global>
  .two-sides {
    position: relative;

    display: flex;
    gap: 5rem;
    align-items: stretch;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  .two-sides__left {
    position: relative;

    flex-shrink: 0;

    width: 72.5rem;
    max-height: 100%;
    padding: 5rem;

    border-radius: var(--border-radius);
    overflow: hidden;

    background-color: var(
      --left-background,
      var(--background, var(--color-grayscale-0))
    );

    @media (max-width: 768px) {
      width: 100%;
      padding: 2rem;
    }
  }

  .two-sides__right {
    flex-shrink: 0;

    width: 72.5rem;
    height: max-content;
    padding: 5rem;

    border-radius: var(--border-radius);
    overflow: hidden;

    background-color: var(
      --right-background,
      var(--background, var(--color-grayscale-0))
    );

    @media (max-width: 768px) {
      width: 100%;
      padding: 2rem;
    }
  }
</style>
