---
import CalculatorStep from '@elements/Calculator/CalculatorStep.astro'
import CalculatorImageInfo from '@elements/CalculatorImageInfo.astro'
---

<CalculatorStep type={'info'}>
  <div class="calculator__gaw-info grid">
    <CalculatorImageInfo
      data-group="fence-gates-type"
      data-value="Распашные"
      description="Распашные ворота"
      images={[
        { src: '/images/catalog-item.png' },
        { src: '/images/categories/intro.jpg' },
      ]}
    />

    <CalculatorImageInfo
      data-group="fence-gates-type"
      data-value="Откатные"
      description="Откатные ворота"
      images={[
        { src: '/images/catalog-item.png' },
        { src: '/images/categories/intro.jpg' },
      ]}
    />

    <CalculatorImageInfo
      data-group="fence-wickets-type"
      data-value="Глухая"
      description="Глухая"
      images={[
        { src: '/images/catalog-item.png' },
        { src: '/images/categories/intro.jpg' },
      ]}
    />

    <CalculatorImageInfo
      data-group="fence-wickets-type"
      data-value="Не глухая"
      description="Не глухая"
      images={[
        { src: '/images/catalog-item.png' },
        { src: '/images/categories/intro.jpg' },
      ]}
    />
  </div>
</CalculatorStep>
