---
import Accordion2, {
  type Props as Accordion2Props,
} from '@elements/Accordion2.astro'
import Section, { type Props as SectionProps } from './Section.astro'

export interface Props extends SectionProps {
  items?: Accordion2Props['items']
}

const {
  items = [
    {
      title: 'Наша гарантия',
      description:
        'Компания «Частокол» предоставляет двухлетнюю гарантию на изготовленную и установленную продукцию (заборы, различные виды ограждений, калитки, ворота, въездные группы и т.д.).<br><br>Срок начала гарантийного периода определяется датой подписания акта выполненных работ.',
    },
    {
      title: 'Наша гарантия',
      description:
        'Компания «Частокол» предоставляет двухлетнюю гарантию на изготовленную и установленную продукцию (заборы, различные виды ограждений, калитки, ворота, въездные группы и т.д.).<br><br>Срок начала гарантийного периода определяется датой подписания акта выполненных работ.',
    },
    {
      title: 'Наша гарантия',
      description:
        'Компания «Частокол» предоставляет двухлетнюю гарантию на изготовленную и установленную продукцию (заборы, различные виды ограждений, калитки, ворота, въездные группы и т.д.).<br><br>Срок начала гарантийного периода определяется датой подписания акта выполненных работ.',
    },
  ],
  ...rest
} = Astro.props
---

<Section
  class="accordion-2-section"
  paddingTop="full"
  paddingBottom="full"
  paddingHorisontal="normal"
  whiteBackground={true}
  {...rest}
>
  <Accordion2 {items} />
</Section>
