---
import Accordion2, {
  type Props as Accordion2Props,
} from '@elements/Accordion2.astro'

export interface Props {
  items?: Accordion2Props['items']
}

const {
  items = [
    {
      title: 'Наша гарантия',
      description:
        'Компания «Частокол» предоставляет двухлетнюю гарантию на изготовленную и установленную продукцию (заборы, различные виды ограждений, калитки, ворота, въездные группы и т.д.).<br><br>Срок начала гарантийного периода определяется датой подписания акта выполненных работ.',
    },
    {
      title: 'Наша гарантия',
      description:
        'Компания «Частокол» предоставляет двухлетнюю гарантию на изготовленную и установленную продукцию (заборы, различные виды ограждений, калитки, ворота, въездные группы и т.д.).<br><br>Срок начала гарантийного периода определяется датой подписания акта выполненных работ.',
    },
    {
      title: 'Наша гарантия',
      description:
        'Компания «Частокол» предоставляет двухлетнюю гарантию на изготовленную и установленную продукцию (заборы, различные виды ограждений, калитки, ворота, въездные группы и т.д.).<br><br>Срок начала гарантийного периода определяется датой подписания акта выполненных работ.',
    },
  ],
} = Astro.props
---

<div
  class="accordion-2-section"
  data-padding-top="full"
  data-padding-bottom="full"
  data-padding-horisontal="normal"
  data-white-background="true"
>
  <Accordion2 {items} />
</div>
