---
import ArticleSmallCard, {
  type Props as ArticleSmallCardProps,
} from '@elements/ArticleSmallCard.astro'
import Slider from '@elements/Slider.astro'

export interface Props {
  cards?: Array<ArticleSmallCardProps>
}

const {
  cards = [
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      href: '/',
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      href: '/',
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      href: '/',
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      href: '/',
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      href: '/',
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      href: '/',
    },
  ],
} = Astro.props
---

<div
  class="article-stories"
  data-padding-horisontal="large"
  data-padding-top="full"
  data-padding-bottom="normal"
>
  <Slider itemInView={4}>
    {
      cards.map((card) => {
        return <ArticleSmallCard {...card} />
      })
    }
  </Slider>
</div>

<style is:global>
  .article-stories {
    .slider {
      @media (max-width: 768px) {
        --sectional: true;
        --sections-in-view: 2.73;
      }
    }

    .article-small-card {
      width: 24rem;
      height: 28rem;

      @media (max-width: 768px) {
        width: 11rem;
        height: 13rem;
      }
    }
  }
</style>
