---
import Billboard from '@elements/Billboard.astro'

export interface Props {
  border?: boolean
}

const { border = true } = Astro.props
---

<div
  class="billboard-section"
  data-white-background="true"
  data-border={border ? true : undefined}
>
  <Billboard theme={'outside'} />
</div>

<style is:global>
  .billboard-section {
    padding: var(--section-vertical-padding-full)
      var(--screen-horisontal-padding);
    padding-bottom: 13.8rem;

    @media (max-width: 768px) {
      padding-bottom: 4rem;
    }

    .billboard {
      height: 65rem;

      @media (max-width: 768px) {
        height: 23.5rem;
      }
    }
  }
</style>
