---
import StoryCard, {
  type Props as StoryCardProps,
} from '@elements/StoryCard.astro'

import Slider from '@elements/Slider.astro'

export interface Props {
  heading?: string
  cards?: Array<StoryCardProps>
}

const {
  heading = 'Блог',
  cards = [
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      media: '/images/categories/intro.jpg',
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      media:
        '<iframe width="1337" height="752" src="https://www.youtube.com/embed/F399teRPBaY?autoplay=1" title="Relaxing Night Walk in Kyoto, Yasaka Pagoda, Binaural, City Sounds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>',
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      visited: true,
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      visited: true,
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      visited: true,
    },
    {
      title: '5 способов защитить забор от вредителей',
      image: { src: '/images/catalog-item.png' },
      visited: true,
    },
  ],
} = Astro.props
---

<div class="blog-intro">
  <h1
    class="blog-intro__heading f-d-title-medium-76 f-m-title-medium-30"
    set:html={heading}
  />

  <Slider itemInView={5}>
    {
      cards.map((card) => {
        return <StoryCard {...card} />
      })
    }
  </Slider>
</div>

<style is:global>
  .blog-intro {
    padding: 0 var(--screen-horisontal-padding);
    padding-bottom: var(--section-vertical-padding-full);
  }

  .blog-intro__heading {
    margin-bottom: 8rem;

    @media (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }
</style>
