---
import FenceCalculator from '@elements/Calculator/Fence/FenceCalculator.astro'

export interface Props {}

const {} = Astro.props
---

<div class="calculator-section">
  <FenceCalculator />
</div>

<style is:global>
  .calculator-section {
    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);
  }
</style>
