---
import HeadingAndDescription from '@elements/HeadingAndDescription.astro'
import Image, { type ImageDataProps } from '@elements/Image.astro'
import Video, { type Props as VideoProps } from '@elements/Video.astro'

export interface Props {
  class?: string
  heading?: string
  description?: string
  image?: ImageDataProps
  video?: VideoProps
  border?: boolean
}

const {
  class: className,
  heading = '«Частокол» – <b>надёжный&nbsp;партнёр</b> в&nbsp;сфере строительства с&nbsp;2007 года',
  description = 'За&nbsp;время своей работы в&nbsp;сфере производства и&nbsp;строительства компания накопила солидный опыт и&nbsp;со&nbsp;100% уверенностью готова заявить, что&nbsp;знаем о&nbsp;заборах&nbsp;все. Клиентам не&nbsp;приходится переплачивать за&nbsp;качество.<br><br>Собственное производство материалов и&nbsp;комплектующих позволяет компании держать уровень цен&nbsp;на&nbsp;заборы и&nbsp;ограждения на&nbsp;приемлемом уровне.',
  image = { src: '/images/categories/intro.jpg' },
  video,
  border,
  ...rest
} = Astro.props
---

<div
  {...rest}
  class:list={[className, 'company-intro']}
  data-padding-horisontal="normal"
  data-padding-bottom="full"
  data-border={border}
>
  <HeadingAndDescription
    {heading}
    {description}
    margin
  />
  {
    video ? (
      <Video class="company-intro__image" />
    ) : (
      <Image
        lazy
        lazyBackground
        cover
        class="company-intro__image"
        {...image}
      />
    )
  }
</div>

<style is:global>
  .company-intro__image {
    width: 100%;
    height: 65rem;

    border-radius: var(--border-radius);

    @media (max-width: 768px) {
      height: 23.5rem;
    }
  }
</style>
