---
import Icon from '@elements/Icon.astro'
import SocialLinkButton, {
  type Props as SocialLinkButtonProps,
} from '@elements/SocialLinkButton.astro'
import CompanyMember, {
  type Props as CompanyMemberProps,
} from '@elements/CompanyMember.astro'
import TwoSides from '@elements/TwoSides.astro'
import Map from '@elements/Map.astro'

export interface Props {
  class?: string
  heading?: string
  description?: string
  socials?: Array<SocialLinkButtonProps>
  districts?: Array<{ name: string }> | false
  member?: CompanyMemberProps | false
  theme?: 'questions' | 'goals'
}

const {
  class: className,
  theme = 'goals',
  heading = 'Подберем ограждение под&nbsp;ваши&nbsp;цели',
  description = 'Напишите нам в любом удобном мессенджере, сотрудники компании ответят вам в течение 2-ух минут.',
  socials = [
    {
      href: 'https://google.com',
      name: 'WhatsApp',
      icon: 'wa',
    },
    {
      href: 'https://google.com',
      name: 'Telegram',
      icon: 'tg',
    },
  ],
  districts = [
    { name: 'Гатчинский' },
    { name: 'Бокситогорский' },
    { name: 'Киришский' },
    { name: 'Волосовский' },
  ],
  member,
  ...rest
} = Astro.props
---

<!-- BLOCK -->
<TwoSides
  {...rest}
  class:list={[className, 'connect']}
  data-theme={theme}
  tag="section"
>
  <div
    class="connect__content"
    slot={'left'}
  >
    <h2
      class="connect__heading f-d-title-medium-56 f-m-title-medium-24"
      set:html={heading}
    />
    <p
      class="connect__description f-d-body-large-regular-16 f-m-body-basic-regular-14"
      set:html={description}
    />

    <div class="connect__socials">
      {
        socials.map((social) => {
          return <SocialLinkButton {...social} />
        })
      }
    </div>

    {
      districts && districts.length ? (
        <div class="connect__districts">
          <div class="connect__districts__title f-d-body-large-medium-16 f-m-body-basic-medium-14">
            Выезд во все районы:
          </div>
          <div class="connect__districts__list">
            {districts.map((district) => {
              return (
                <span class="connect__district">
                  <Icon
                    name={'marker'}
                    class="connect__district__icon"
                  />
                  <span
                    class="connect__district__name f-d-body-large-regular-16 f-m-footnote-regular-12"
                    set:html={district.name}
                  />
                </span>
              )
            })}
          </div>
        </div>
      ) : null
    }

    {
      member && (
        <CompanyMember
          {...member}
          class="connect__member"
        />
      )
    }
  </div>

  <Map slot={'right'} />
</TwoSides>

<style is:global>
  .connect {
    padding: var(--section-vertical-padding-full)
      var(--screen-horisontal-padding);

    --right-padding: 0;

    @media (min-width: 769px) {
      &[data-theme='questions'] {
        --left-height: 49.6rem;
      }
    }

    @media (max-width: 768px) {
      --left-height: max-content;
      --right-height: 23.5rem;
    }
  }

  .connect__content {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .connect__heading {
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  .connect__description {
    width: 46.6rem;
    margin-bottom: 5rem;
    color: var(--color-grayscale-400);

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  .connect__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    margin-bottom: 11rem;

    @media (min-width: 769px) {
      .connect[data-theme='questions'] & {
        margin-bottom: 8rem;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 4rem;
      gap: 1rem;
    }
  }

  .connect__districts,
  .connect__member {
    margin-top: auto;
  }

  .connect__districts__title {
    margin-bottom: 2.3rem;

    @media (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }

  .connect__districts__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;

    @media (max-width: 768px) {
      gap: 1rem;
    }
  }

  .connect__district {
    padding: 0.85rem 1rem;

    display: inline-flex;
    align-items: center;
    gap: 1rem;

    background-color: var(--color-grayscale-100);
    border-radius: 0.7rem;

    @media (max-width: 768px) {
      gap: 0.6rem;

      padding: 0.5rem 1rem;
      gap: 0.6rem;
    }
  }

  .connect__district__icon {
    width: 1.4rem;
    height: 1.4rem;

    fill: var(--color-grayscale-400);

    @media (max-width: 768px) {
      width: 1.1rem;
      height: 1.1rem;
    }
  }

  .connect__district__name {
    color: var(--color-grayscale-500);
  }
</style>
