---
import Section, { type Props as SectionProps } from './Section.astro'
import InstallmentCard, {
  type Props as InstallmentCardProps,
} from '@elements/InstallmentCard.astro'

export interface Props extends SectionProps {
  cards?: Array<InstallmentCardProps>
}

const {
  cards = [
    {
      labels: [{ name: 'На все' }],
      name: 'Рассрочка 0-0-12',
      description:
        'Без переплат, на 12 месяцев.<br>При досрочном погашении&nbsp;— выгода до&nbsp;10%',
    },
    {
      labels: [{ name: 'На все' }],
      name: 'Рассрочка 0-0-18',
      description:
        'Без переплат, на 12 месяцев.<br>При досрочном погашении&nbsp;— выгода до&nbsp;10%',
    },
    {
      labels: [{ name: 'На все' }],
      name: 'Рассрочка на 24 месяца',
      description: 'Без переплат, на 12 месяцев.',
    },
  ],
  ...rest
} = Astro.props
---

<Section
  class="installment-intro"
  border
  paddingBottom={'full'}
  paddingTop={false}
  {...rest}
>
  <div class="installment-intro__cards">
    {
      cards.map((card) => {
        return <InstallmentCard {...card} />
      })
    }
  </div>
</Section>

<style is:global>
  .installment-intro__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    .installment-card {
      width: 100%;
    }

    @media (max-width: 768px) {
      grid-template-columns: 100%;
      gap: 2rem;
    }
  }
</style>
