---
import MapElement from '@elements/Map.astro'
import Section, { type Props as SectionProps } from './Section.astro'
export interface Props extends SectionProps {}

const { ...rest } = Astro.props
---

<!-- BLOCK -->
<Section
  paddingBottom={'full'}
  whiteBackground
  {...rest}
  class="map"
>
  <div class="map__holder">
    <MapElement />
  </div>
</Section>

<style is:global>
  .map__holder {
    width: 100%;
    height: 56.2rem;

    overflow: hidden;
    border-radius: var(--border-radius);

    background-color: var(--color-image-background);
  }
</style>
