---
import Characteristics, {
  type Props as CharacteristicsProps,
} from '@elements/Characteristics.astro'
import Manager2 from '@elements/Manager2.astro'
import TabButton from '@elements/TabButton.astro'

export interface Props {
  characteristics?: CharacteristicsProps['list']
}

const {
  characteristics = [
    {
      title: 'Столбы из профильной трубы',
      value: '60 x 60 x 3 мм',
    },
    {
      title: 'Столбы из профильной трубы',
      value: '60 x 60 x 3 мм',
    },
    {
      title: 'Столбы из профильной трубы',
      value: '60 x 60 x 3 мм',
    },
    {
      title: 'Столбы из профильной трубы',
      value: '60 x 60 x 3 мм',
    },
    {
      title: 'Столбы из профильной трубы',
      value: '60 x 60 x 3 мм',
    },
  ],
} = Astro.props
---

<!-- BLOCK -->
<e-billboard class="product-info">
  <div class="product-info__category-names hidden-scrollbar">
    <TabButton
      style="--index: 0;"
      name="Характеристики"
      class="product-info__category-button"
      tag="e-billboard-set-button"
    />
    <TabButton
      style="--index: 1;"
      name="Гарантии"
      class="product-info__category-button"
      tag="e-billboard-set-button"
    />
    <TabButton
      style="--index: 2;"
      name="Способ оплаты"
      class="product-info__category-button"
      tag="e-billboard-set-button"
    />
  </div>

  <div class="product-info__categories">
    <div
      class="product-info__category product-info__characteristics"
      data-billboard-item
    >
      <div
        class="product-info__category__title f-d-title-medium-42 f-m-title-medium-24"
        >Характеристики</div
      >
      <div class="product-info__characteristics__content">
        <Characteristics
          class="product-info__characteristics__list"
          list={characteristics}
        />
        <Manager2 class="product-info__characteristics__manager" />
      </div>
    </div>
    <div
      class="product-info__category"
      data-billboard-item
    >
      <div
        class="product-info__category__title f-d-title-medium-42 f-m-title-medium-24"
        >Гарантии</div
      >
    </div>
    <div
      class="product-info__category"
      data-billboard-item
    >
      <div
        class="product-info__category__title f-d-title-medium-42 f-m-title-medium-24"
        >Способ оплаты</div
      >
    </div>
  </div>
</e-billboard>

<style is:global>
  .product-info {
    display: block;

    padding: var(--section-vertical-padding-full)
      var(--screen-horisontal-padding);
    padding-top: 5.5rem;

    background-color: var(--color-grayscale-0);
  }

  .product-info__category-names {
    @media (min-width: 769px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      margin-bottom: 8.5rem;
    }

    @media (max-width: 768px) {
      margin-left: calc(var(--screen-horisontal-padding) * -1);
      width: calc(100% + var(--screen-horisontal-padding) * 2);
      padding: 0 var(--screen-horisontal-padding);

      display: flex;
      gap: 1rem;
      margin-bottom: 4rem;

      overflow: auto hidden;
    }
  }

  .product-info__category-button {
    position: relative;
    z-index: 1;

    --tab-button-background: var(--color-grayscale-100);
  }

  .product-info__categories {
    display: grid;
  }

  .product-info__category {
    grid-column: 1/1;
    grid-row: 1/1;

    display: none;

    &.current {
      display: block;
    }
  }

  .product-info__category__title {
    margin-bottom: 8rem;

    @media (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }

  .product-info__characteristics__content {
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 4rem;
    }
  }

  .product-info__characteristics {
  }

  .product-info__characteristics__manager {
    flex-shrink: 0;
  }
</style>
