---
import Accordion, {
  type Props as AccordionProps,
} from '@elements/Accordion.astro'
import CompanyMember, {
  type Props as CompanyMemberProps,
} from '@elements/CompanyMember.astro'
import Button from '@elements/Button.astro'
import TwoSides from '@elements/TwoSides.astro'

export interface Props {
  heading?: string
  description?: string
  member?: CompanyMemberProps
  qa?: AccordionProps['items']
}

const {
  heading = '<b>Ответы</b> на часто задаваемые&nbsp;вопросы',
  description = 'Не нашли ответ на свой вопрос?<br>Задайте его сами!',
  member = {
    image: { src: '/images/company-members/director.jpg' },
    name: 'Вероника Иванова',
    position: 'Директора компании «Частокол»',
  },
  qa = [
    {
      title: 'Как сделать заказ на установку забора?',
      description:
        'Позвоните нашему менеджеру. Он направит на ваш участок замерщика, который приедет в любое удобное для вас время. Специалист замеряет периметр, отметит на плане участка его особенности, сделает предварительный расчет стоимости установки.',
    },
    {
      title: 'Как сделать заказ на установку забора?',
      description:
        'Позвоните нашему менеджеру. Он направит на ваш участок замерщика, который приедет в любое удобное для вас время. Специалист замеряет периметр, отметит на плане участка его особенности, сделает предварительный расчет стоимости установки.',
    },
    {
      title: 'Как сделать заказ на установку забора?',
      description:
        'Позвоните нашему менеджеру. Он направит на ваш участок замерщика, который приедет в любое удобное для вас время. Специалист замеряет периметр, отметит на плане участка его особенности, сделает предварительный расчет стоимости установки.',
    },
    {
      title: 'Как сделать заказ на установку забора?',
      description:
        'Позвоните нашему менеджеру. Он направит на ваш участок замерщика, который приедет в любое удобное для вас время. Специалист замеряет периметр, отметит на плане участка его особенности, сделает предварительный расчет стоимости установки.',
    },
    {
      title: 'Как сделать заказ на установку забора?',
      description:
        'Позвоните нашему менеджеру. Он направит на ваш участок замерщика, который приедет в любое удобное для вас время. Специалист замеряет периметр, отметит на плане участка его особенности, сделает предварительный расчет стоимости установки.',
    },
  ],
} = Astro.props
---

<!-- BLOCK -->
<TwoSides
  class="qa"
  tag="section"
>
  <div
    class="qa__content"
    slot={'left'}
  >
    <h2
      class="qa__heading two-color-heading f-d-title-medium-42 f-m-title-medium-24"
      set:html={heading}
    />
    <p
      class="qa__description f-d-body-large-regular-16 f-m-body-basic-regular-14"
      set:html={description}
    />
    <Button
      class="qa__link"
      name="Задать вопрос"
      tag="e-popover-button"
      target="question-form"
    />
    <CompanyMember
      {...member}
      class="qa__director"
    />
  </div>
  <Accordion
    items={qa}
    slot={'right'}
    class="qa__accordion"
  />
</TwoSides>

<style is:global>
  .qa {
    --right-padding: 0rem;
    --right-background: transparent;
    --left-height: 55.3rem;

    padding: var(--section-vertical-padding-full)
      var(--screen-horisontal-padding);

    @media (max-width: 768px) {
      --left-height: max-content;
    }
  }

  .qa__content {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  .qa__heading {
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  .qa__description {
    margin-bottom: 5rem;

    color: var(--color-grayscale-400);

    @media (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }

  .qa__link {
    width: max-content;
    margin-bottom: 4rem;
  }

  .qa__director {
    margin-top: auto;
  }

  .qa__accordion {
  }
</style>
