---
import CatalogCard, {
  type Props as CatalogCardProps,
} from '@elements/CatalogCard.astro'
import Section from '@elements/Section.astro'
import SliderBullets from '@elements/SliderBullets.astro'
import SliderButton from '@elements/SliderButton.astro'

export interface Props {
  heading?: string
  catalog?: Array<CatalogCardProps>
}

const {
  heading = 'Сопутствующие услуги',
  catalog = [
    {
      href: '/',
      name: 'Заборы жалюзи',
      image: { src: '/images/catalog-item.png' },
    },
    {
      href: '/',
      name: 'Откатные ворота',
      image: { src: '/images/catalog-item.png' },
    },
    {
      href: '/',
      name: 'Винтовые сваи',
      image: { src: '/images/catalog-item.png' },
    },
    {
      href: '/',
      name: 'Калитки',
      image: { src: '/images/catalog-item.png' },
    },
    {
      href: '/',
      name: 'Заборы жалюзи',
      image: { src: '/images/catalog-item.png' },
    },
    {
      href: '/',
      name: 'Откатные ворота',
      image: { src: '/images/catalog-item.png' },
    },
    {
      href: '/',
      name: 'Винтовые сваи',
      image: { src: '/images/catalog-item.png' },
    },
    {
      href: '/',
      name: 'Калитки',
      image: { src: '/images/catalog-item.png' },
    },
  ],
  ...rest
} = Astro.props
---

<!-- BLOCK -->
<Section
  {...rest}
  class:list={['related-services']}
  heading={heading}
  headingLevel={'h3'}
  whiteBackground
  paddingBottom={'full'}
>
  <e-scroll class="related-services__slider bullets">
    {
      catalog.map((item) => {
        return (
          <CatalogCard
            class="related-services__slider__item"
            {...item}
          />
        )
      })
    }
    <SliderButton
      type={'prev'}
      center
    />
    <SliderButton
      type={'next'}
      center
    />
    <SliderBullets />
  </e-scroll>
</Section>

<style is:global>
  .related-services__slider {
    --axis: x;
    --gap: 5rem;
    --overflow: hidden;
    --sectional: true;
    --sections-in-view: 4;
    --auto-size: true;

    display: flex;
    gap: var(--gap);

    @media (max-width: 768px) {
      --overflow: unset;
      --gap: 2rem;
      --sections-in-view: 1.6;
    }
  }
</style>
