---
import { undefined } from 'astro:schema'

export interface Props {
  class?: string
  heading?: string
  headingLevel?: 'h2' | 'h3'
  paddingTop?: 'full' | 'normal' | false
  paddingBottom?: 'full' | 'normal' | false
  paddingHorisontal?: 'large' | 'normal'
  whiteBackground?: boolean | undefined
  border?: boolean | undefined
  tag?: string
  headingFont?: string
}

const {
  class: className,
  heading,
  headingLevel = 'h2',
  paddingTop = 'normal',
  paddingBottom = 'normal',
  paddingHorisontal = 'normal',
  whiteBackground,
  border,
  headingFont,
  tag = 'section',
  ...rest
} = Astro.props

const Tag = tag
const HeadingTag = headingLevel
---

<!-- BLOCK -->
<Tag
  {...rest}
  class:list={[className, 'section']}
  data-padding-top={paddingTop || undefined}
  data-padding-bottom={paddingBottom || undefined}
  data-padding-horisontal={paddingHorisontal}
  data-white-background={whiteBackground}
  data-border={border}
>
  {
    heading && (
      <HeadingTag
        class:list={[
          'section__heading',
          headingFont,
          {
            'f-d-title-medium-42 f-m-title-medium-24':
              !headingFont && headingLevel === 'h3',
            'f-d-title-medium-56 f-m-title-medium-24':
              !headingFont && headingLevel === 'h2',
          },
        ]}
        set:html={heading}
      />
    )
  }

  <div class="section__content">
    <slot />
  </div>
</Tag>

<style is:global>
  .section {
    display: block;
  }

  .section__heading {
    margin-bottom: 8rem;

    @media (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }
</style>
