---
import Section, { type Props as SectionProps } from '@blocks/Section.astro'
import Slider, { type Props as SliderProps } from '@elements/Slider.astro'

export interface Props extends SectionProps {
  class?: string
  itemInView?: SliderProps['itemInView']
}

const { class: className, itemInView = 3, ...rest } = Astro.props
---

<Section
  class={`slider-section ${className || ''}`}
  {...rest}
>
  <Slider {itemInView}><slot /></Slider>
</Section>
