---
import Step, { type Props as CostComponentProps } from '@elements/Step.astro'
import Section, { type Props as SectionProps } from '@blocks/Section.astro'

export interface Props extends SectionProps {
  heading?: string
  cards?: Array<CostComponentProps>
}

const {
  cards = [
    {
      number: 1,
      title: 'Выбор материала и&nbsp;его&nbsp;характеристики',
      description:
        'Качество материала, толщина и&nbsp;тип покрытия влияют на&nbsp;конечную цену.',
    },
    {
      number: 2,
      title: 'Сложность конструкции и&nbsp;высота забора',
      description:
        'Сложные элементы, высота изделия значительно влияют на&nbsp;стоимость.',
    },
    {
      number: 3,
      title: 'Дополнительные работы бригады',
      description:
        'Подготовка грунта, установку опорных столбов, монтаж секций.',
    },
    {
      number: 4,
      title: 'Регион установки и&nbsp;сезонность',
      description:
        'Цены могут быть выше из-за повышенного спроса в&nbsp;регионе.',
    },
  ],
  ...rest
} = Astro.props
---

<!-- BLOCK -->
<Section
  class="steps"
  headingLevel={'h3'}
  heading="От чего зависит стоимость"
  paddingBottom={'full'}
  {...rest}
>
  <e-scroll class="steps__slider">
    {
      cards.map((component) => {
        return <Step {...component} />
      })
    }
  </e-scroll>
</Section>

<style is:global>
  .steps__slider {
    @media (min-width: 769px) {
      --hibernate: true;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;
    }

    @media (max-width: 768px) {
      --axis: x;
      --gap: 2rem;

      display: flex;
      gap: var(--gap);
    }
  }
</style>
