---
import Section, { type Props as SectionProps } from './Section.astro'

export interface Props extends SectionProps {
  text?: string
}

const {
  text = `\
  <h2>1. Общие положения</h2>\

  Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки  персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые ООО Компания (далее – Оператор).

  1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.

  1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="https://example.ru">https://example.ru</a>.

  <h2>2. Основные понятия, используемые в Политике</h2>\

  2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники.

  2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).

  2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <a href="https://example.ru">https://example.ru</a>.

  2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств.

  2.5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных.

  2.6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными...

  <h2>3. Основные права и обязанности Оператора</h2>\

  3.1. Оператор имеет право:

  - получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;

  - в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных...

  - самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей...

  3.2. Оператор обязан:

  - предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных;

  - организовывать обработку персональных данных в порядке, установленном действующим законодательством РФ;

  - отвечать на обращения и запросы субъектов персональных данных и их законных представителей...
`,
  ...rest
} = Astro.props
---

<Section
  paddingTop={false}
  paddingBottom={'full'}
  {...rest}
  class="technical"
>
  <div set:html={text} />
</Section>

<style is:global>
  .technical {
    white-space: pre-line;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 130%;

    color: var(--color-grayscale-400);

    @media (max-width: 768px) {
      font-size: 1.4rem;
      font-weight: 400;

      color: #878786;
    }

    h2,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 110%;
      color: var(--color-grayscale-600);

      margin-top: 4rem;
      margin-bottom: 1.3rem;

      &:first-child {
        margin-top: 0;
      }

      @media (max-width: 768px) {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 125%;

        margin-top: 1.5rem;
        margin-bottom: 0rem;

        color: #303033;
      }
    }
  }
</style>
