---
import HeadingAndDescription from '@elements/HeadingAndDescription.astro'
import Section, { type Props as SectionProps } from './Section.astro'

export interface Props extends SectionProps {
  heading?: string
  description?: string
  headingFont?: string
}

const {
  heading = 'Каталог конструкций',
  description = 'Более 50 категорий конструкций под любые цели.',
  headingFont = 'f-d-title-medium-76 f-m-title-medium-30',
  ...rest
} = Astro.props
---

<Section
  paddingTop={false}
  paddingBottom={'full'}
  {...rest}
>
  <HeadingAndDescription
    {heading}
    {headingFont}
    {description}
  />
</Section>
