---
import Media from '@elements/Media.astro'
---

<div
  class="video-section"
  data-white-background="true"
>
  <Media class="video-section__media" />
</div>

<style is:global>
  .video-section {
    padding: var(--section-vertical-padding-full)
      var(--screen-horisontal-padding);
  }

  .video-section__media {
    height: 65rem;

    @media (max-width: 768px) {
      height: 23.5rem;
    }
  }
</style>
