---
import type { ImageDataProps } from '@elements/Image.astro'
import Image from '@elements/Image.astro'
import TwoSides from '@elements/TwoSides.astro'
import VkontakteLink from '@elements/VkontakteLink.astro'

export interface Props {
  image?: ImageDataProps
  heading?: string
  description?: string
}

const {
  image = { src: '/images/vkontakte/image.jpg' },
  heading = 'Больше выполненных работ в&nbsp;нашей&nbsp;социальной сети ВКонтакте',
  description = 'Будьте в&nbsp;курсе всех обновлений. Специальные предложения, эксклюзивные материалы и&nbsp;полезные советы — все это в&nbsp;нашей группе ВКонтакте.',
} = Astro.props
---

<!-- BLOCK -->
<TwoSides
  class="vkontakte"
  tag="section"
>
  <Image
    class="vkontakte__image two-sides__cover"
    {...image}
    lazy
    lazyBackground
    cover
    slot={'left'}
  />

  <div
    class="vkontakte__content"
    slot={'right'}
  >
    <h2
      class="vkontakte__heading f-d-title-medium-32 f-m-title-medium-20"
      set:html={heading}
    />
    <p
      class="vkontakte__description f-d-body-large-regular-16 f-m-body-basic-regular-14"
      set:html={description}
    />
    <VkontakteLink />
  </div>
</TwoSides>

<style is:global>
  .vkontakte {
    padding: var(--section-vertical-padding-full)
      var(--screen-horisontal-padding);

    @media (max-width: 768px) {
      --left-height: 23.5rem;
      flex-direction: column-reverse;
    }
  }

  .vkontakte__heading {
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  .vkontakte__description {
    color: var(--color-grayscale-400);
    margin-bottom: 5rem;

    @media (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }
</style>
